body {
	margin-right: 0px;
	margin-left: 0px;
}
#about-text{
	color: black;
	font-size: 3vh;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 0;
	font-family: "Courier New", Courier, monospace;
}
#all-skills, #contact-info{
	font-family: "Courier New", Courier, monospace;
	text-align: center;

}
#all-skills {
	display: flex;
	justify-content: space-around;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
}
#all-skills h1 {
	margin-top: 0;
	font-size: 175%;

}
#technical-skills {
	width: 55%;
}
#personal-skills {
	margin-left: 5%;
	width: 45%;

}

#allExperience, .text-and-pic{
	display: inline-flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 0;
	font-family: "Courier New", Courier, monospace;
}
#arizona {
	display: flex;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;
	flex-direction: column;
	
}

#arizona-text {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}
#arizona img{
	width: 70px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;

}
#contact-info {
	font-size: 170%;
}
.title {
	display: flex;
	font-family: "Courier New", Courier, monospace;
	justify-content: center;
	align-items: center;

}
.title:before, .title:after {
	width: 10%;
	height: 2px;
	content: '';
	background-color: black;
	margin: 0 15px;

}
#extra-pics {
	display: inline-flex; 
	flex-wrap: wrap;
	justify-content: center;

}
#extra-pics div {
	width: 205px;
	height: 205px;
	filter: grayscale(100%);
	background-size: 100%;
	background-position: center center;

}

#extra-pics div:hover{
	background-size: 115%;
	filter: none;
	background-position: center center;
}
.experience-list {
	list-style-type: circle;
	text-align: left;
	padding-left: 30px;
	margin-right: 10px;
}

.experiencePic {
	border: solid 2px black;
	width: 400px;
	height: 450px;
	text-align: center;
	margin-bottom: 30px;

}
.text-and-pic img{
	width: 100%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	transition: 0.5s;
  	
}
.text-and-pic:hover img{
	opacity: 0.1;
	transition: 0.3s;
}
.text-and-pic:hover .experienceText{
	opacity: 1;
}

.text-and-pic, .experienceText{
	width: 324px;
	height: 324px;
	margin-right: auto;
	margin-left: auto;

}
.text-and-pic{
	margin-top: 30px;
	border: solid 2px black;
}
.experienceText {
	position: absolute;
	opacity: 0;
}
.experienceText p{
	margin-top: 5px;
	margin-bottom: 8px;
	font-weight: bold;
}
#graph {
	list-style: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
#graph li {
	height: 30px;
	color: white;
	font-size: 125%;
	text-align: left;
	margin-top: 5px;
}

#axis, #axis-line{
	display: flex;
	justify-content: space-between;
}
#axis-line div{
	height: 10px;
	width: 100%;
	border-bottom: solid 2px black; 
	border-left: solid 2px black; 
}
#axis div{
	color: black;
	font-size: 60%;
	margin-top: -20px;

}

#skill-icons {
	display: inline-flex;
	justify-content: space-around;
	flex-wrap: wrap;
	overflow: hidden;
}
#skill-icons div {
	width: 150px;
	overflow: hidden;
	font-size: 15px;
}
#skill-icons img {
	width: 60px;
	height: auto;
	
}
#skills-mention a{
	color: grey;
	text-decoration: none;

}

