/*
Josephine Mills
Personal Website
Created June 12, 2020
Last updated June 12, 2020
*/

/* || HOME PAGE */

body {
	margin-right: 0px;
	margin-left: 0px;
}
#HomePage {
	flex-direction: column;
}
#HomePage, #menu, .title {
	display: flex;
}
#linkedin img{
	width: 2.5%;
	margin-left: 91%;
}
#linkedin img, #resume, #textMain{
	position: absolute;
}
#links a:hover, #menu a:hover{
	padding: 2.5px;
}
#links a:hover, #menu a:hover, #textMain{
	color: #CD5C5C;
	border: solid 2.5px #CD5C5C;
}
#main, #topName{
	text-align: center;
}
#main img{
	object-fit: cover;
	width: 100%;
	height: 100vh;
}
#menu{
	margin: 0 auto;
	width: 80%;
}
#menu, .title {
	justify-content: center;
}
#menu a{
	font-size: 1.5vw;
	margin-right: 2vw;
	margin-left: 2vw;
	margin-bottom: 15px;
	margin-top: 10px;
	padding: 3px;
}
#menu a, #resume {
	font-family: Arial, Helvetica;
	border: solid 2px black;
	color: black;
}
#name {
	font-size: 3vw;
}
#resume{
	font-size: 1vw;
	padding: 3px;
	margin-left: 94%;
}
#textMain{
	font-size: 2vw;
	top: 30%;
	left: 24%;
}
#textMain, #topName, .title{
	font-family: "Courier New", Courier, monospace;
}
.title {
	align-items: center;
	white-space: nowrap;

}
.title:before, .title:after {
	width: 10%;
	height: 2px;
	content: '';
	background-color: black;
	margin: 0 15px;

}
#topName {
	font-size: 3vw;
	margin: 0;
	font-weight: 100;
}
/* || END HOME PAGE AND TITLES*/

/* ||  ABOUT ME */
#about-text{
	color: black;
	margin-top: 0;
	font-family: "Courier New", Courier, monospace;
}

#goals-text {
	text-align: center;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	font-size: 25px;
}
#facts{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;

}
.fact-box {
	font-size: 20px;
	border: solid 2px black;
	width: 18%;
	height: auto;
	min-width: 270px;
	min-height: 216px;
	margin-top: 20px;
	background-size: cover;
	position: relative;

}
.fact-box div {
	background-color: white;
	opacity: 0.5;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	-o-opacity: 0.5;
	position: absolute;
}

/* ||  END ABOUT ME */

/* ||  EDUCATION */
#arizona, #wildcat{
	min-width: 782px;
}
#arizona-text {
	font-family: "Courier New", Courier, monospace;
	position: relative; 
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}
#arizona-text, #wildcat{
	text-align: center;
	width: 100%;
}
#sunset {
	width: 100vw;
	height: 100vh;
	min-width: 782px;
	min-height: 702px;
}
#sunset, #wildcat {
	position: absolute;
	position: absolute;
} 
#wildcat img {
	width: 85px;
}
/* ||  END EDUCATION */

/* ||  SKILLS */

#all-skills {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}
#all-skills, #skill-icons{
	display: flex;
	justify-content: space-around;
}
#all-skills h1 {
	margin-top: 0;
	font-size: 175%;
}
#axis, #axis-line{
	display: flex;
	justify-content: space-between;
}
#axis div{
	color: black;
	font-size: 60%;
	margin-top: -20px;
}
#axis-line div{
	height: 10px;
	width: 100%;
	border-bottom: solid 2px black; 
	border-left: solid 2px black; 
}
#graph {
	list-style: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	vertical-align: middle;
}
.graph-skill, #axis-line, #axis{
	height: 30px;
	color: white;
	font-size: 125%;
	text-align: left;
	margin-top: 5px;
	padding-top: 5px;
}

/* adding hover to display extra information, need to integrate js
.graph-skill:hover { /
	height: 35px;
	padding-top: 12px;
}
*/

#skill-icons {
	flex-wrap: wrap;
}
#skill-icons div {
	width: 170px;
	font-size: 17px;
}
#skill-icons img {
	width: 90px;
	height: 90px;	
}
#skills-mention a{
	color: grey;
	text-decoration: none;
}
#personal-skills {
	margin-left: 5%;
	min-width: 340px;
	max-width: 510px;
}
#technical-skills {
	width: 55%;
}
/* ||  END SKILLS */

/* ||  EXPERIENCE */

#allExperience {
	margin-top: 0;
}
#allExperience, .text-and-pic{
	display: inline-flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-family: "Courier New", Courier, monospace;
}
.experience-pic {
	border: solid 2px black;
	width: 400px;
	height: 450px;
	text-align: center;
	margin-bottom: 30px;
}
.experienceText {
	position: absolute;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
.experienceText p{
	margin-top: 5px;
	margin-bottom: 8px;
	font-weight: bold;
}
.experience-list {
	list-style-type: circle;
	text-align: left;
	padding-left: 30px;
	margin-right: 10px;
}
.experienceText, .text-and-pic{
	width: 324px;
	height: 324px;
	margin-right: auto;
	margin-left: auto;
}
.text-and-pic{
	margin-top: 30px;
	border: solid 2px black;
}
.text-and-pic img{
	width: 100%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	transition: 0.5s;	
}
.text-and-pic:hover img{
	-webkit-opacity: 0.1;
	-moz-opacity: 0.1;
	-o-opacity: 0.1;
	opacity: 0.1;
	transition: 0.3s;
}
.text-and-pic:hover .experienceText{
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}
/* ||  END EXPERIENCE */

/* ||  CONTACT */

#contact-info{
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	font-size: 170%;

}
#extra-pics {
	display: inline-flex; 
	flex-wrap: wrap;
	justify-content: center;
}
#extra-pics div {
	width: 205px;
	height: 205px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	background-size: 100%;
	background-position: center center;

}
#extra-pics div:hover{
	background-size: 115%;
	filter: none;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	background-position: center center;
}
/* ||  END CONTACT */
