/*
Josephine Mills
Personal Website
Created June 12, 2020
Last updated June 12, 2020
*/

/* || HOME PAGE */

body {
	margin-right: 0px;
	margin-left: 0px;
}
#HomePage {
	flex-direction: column;
}
#HomePage, #menu, .title {
	display: flex;
}
#linkedin img{
	width: 2.5%;
	margin-left: 91%;
}
#linkedin img, #resume, #textMain{
	position: absolute;
}
#links a:hover, #menu a:hover{
	padding: 2.5px;
}
#links a:hover, #menu a:hover, #textMain{
	color: #CD5C5C;
	border: solid 2.5px #CD5C5C;
}
#main, #topName{
	text-align: center;
}
#main img{
	object-fit: cover;
	width: 100%;
	height: 100vh;
}
#menu{
	margin: 0 auto;
	width: 80%;
}
#menu, .title {
	justify-content: center;
}
#menu a{
	font-size: 1.5vw;
	margin-right: 2vw;
	margin-left: 2vw;
	margin-bottom: 15px;
	margin-top: 10px;
	padding: 3px;
}
#menu a, #resume {
	font-family: Arial, Helvetica;
	border: solid 2px black;
	color: black;
}
#name {
	font-size: 3vw;
}
#resume{
	font-size: 1vw;
	padding: 3px;
	margin-left: 94%;
}
#textMain{
	font-size: 2vw;
	top: 30%;
	left: 24%;
}
#textMain, #topName, .title{
	font-family: "Courier New", Courier, monospace;
}
.title {
	align-items: center;
	white-space: nowrap;

}
.title:before, .title:after {
	width: 10%;
	height: 2px;
	content: '';
	background-color: black;
	margin: 0 15px;

}
#topName {
	font-size: 3vw;
	margin: 0;
	font-weight: 100;
}
/* || END HOME PAGE AND TITLES*/

/* ||  ABOUT ME */
#about-text{
	color: black;
	margin-top: 0;
	font-family: "Courier New", Courier, monospace;
}

#goals-text {
	text-align: center;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	font-size: 25px;
}
#facts{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;

}
.fact-box {
	font-size: 20px;
	border: solid 2px black;
	width: 270px;
	height: 216px;
	margin-top: 20px;
	background-size: cover;
	position: relative;

}
.fact-box div {
	background-color: white;
	opacity: 0.5;

	position: absolute;
}

/* ||  END ABOUT ME */

/* ||  EDUCATION */
/* ||  END EDUCATION */

/* ||  SKILLS */
/* ||  END SKILLSE */

/* ||  EXPERIENCE */
/* ||  END EXPERIENCE */

/* ||  CONTACT */
/* ||  END CONTACT */
