/*
Josephine Mills
Personal Website
Created June 12, 2020
Last updated June 12, 2020

*/

/* || HOME PAGE */

body {
	margin-right: 0px;
	margin-left: 0px;
}
#HomePage {
	display: flex;
	flex-direction: column;
}
#linkedin img{
	width: 2.5%;
	position: absolute;
	margin-left: 91%;
}
#links a:hover{
	border: solid 2.5px #CD5C5C;
	color: #CD5C5C;
	padding: 2.5px;
}
#main {
	background-size: cover;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}
#main img{
	object-fit: cover;
	width: 100%;
	height: 100vh;
}
#menu{
	display: flex;
	margin: 0 auto;
	justify-content: center;
	position: relative;
	width: 80%;

}
#menu a{
	border: solid 2px black;
	font-family: Arial, Helvetica;
	font-size: 1.5vw;
	margin-right: 2vw;
	margin-left: 2vw;
	color: black;
	margin-bottom: 15px;
	margin-top: 10px;
	padding: 3px;
	position: relative;
}

#menu a:hover{
	color: #CD5C5C;
	border: solid 2.5px #CD5C5C;
	padding: 2.5px;

}
#name {
	font-size: 3vw;
}
#resume{
	border: solid 2px black;
	position: absolute;
	font-family: Arial, Helvetica;
	font-size: 1vw;
	color: black;
	padding: 3px;
	margin-left: 94%;
}
#textMain{
	border: solid 3px #CD5C5C;
	font-size: 2vw;
	position: absolute;
	top: 30%;
	left: 24%;
	color: #CD5C5C;
	font-family: "Courier New", Courier, monospace;
	font-weight: 500;
}
#topName {
	text-align: center;
	font-size: 3vw;
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	font-weight: 100;
}
/* || END HOME PAGE */

/* ||  ABOUT ME */
#about-text{
	color: black;
	
	margin-top: 0;
	font-family: "Courier New", Courier, monospace;
}
.title {
	display: flex;
	font-family: "Courier New", Courier, monospace;
	justify-content: center;
	align-items: center;
	white-space: nowrap;

}
.title:before, .title:after {
	width: 10%;
	height: 2px;
	content: '';
	background-color: black;
	margin: 0 15px;

}
#goals-text {
	text-align: center;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	font-size: 25px;
}
#facts{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;

}
.fact-box {
	font-weight: bold;
	font-size: 20px;
	border: solid 2px black;
	width: 270px;
	height: 216px;
	margin-top: 20px;
	background-size: cover;
	position: relative;

}
.fact-box div {
	background-color: white;
	opacity: 0.5;

	position: absolute;
}

/* ||  END ABOUT ME */

/* ||  EDUCATION */
/* ||  END EDUCATION */

/* ||  SKILLS */
/* ||  END SKILLSE */

/* ||  EXPERIENCE */
/* ||  END EXPERIENCE */

/* ||  CONTACT */
/* ||  END CONTACT */





